
.slide_banners{
    background-color: #c1bcb4;
padding: 0.7vw;
}
.slide_banners_cover{
    background-color: #E6E6E6;
    border: solid 0.1px rgba(216, 214, 211, 0.3);;
    padding: 1vw;
    width: 92% !important;
}
.booking_room{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1vw 0;
    text-align: center !important;
}
.categories_cover{
    border: solid 0.1px darkgray;
    background-color: #E6E6E6;
    padding: 1vw;
    width: 92% !important;
}
.category {
    font-size: 20px;
    width: 30% ;
    background-color: white;

}
.category_image{
    width: 100%;
    padding-top: 1vw;
    background-color: white;
}
.html_a_cover{
    margin-top: 2vw;
}
.html_a{
    color: rgba(0, 0, 0, 0.7) !important;
    text-decoration: none !important;
    padding-bottom: 1vw !important;
    border-bottom: solid 0.2px darkgrey;
    display: block;
}
.html_p_cover{
    margin-top: 1.2vw;
    padding-bottom: 2vw;
}
.html_p{
    font-size: medium;
}
.html_button{
    background-color: #281570 !important;
    color: white !important;
    font-size: medium !important;
}
