
.slide_banners{
    background-color: #c1bcb4;
padding: 0.7vw;
}
.slide_banners_cover{
    background-color: #E6E6E6;
    border: solid 0.1px rgba(216, 214, 211, 0.3);;
    padding: 1vw;
    width: 92% !important;
}
.booking_room{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1vw 0;
    text-align: center !important;
}
.categories_cover{
    border: solid 0.1px darkgray;
    background-color: #E6E6E6;
    padding: 1vw;
    width: 92% !important;
}
.category {
    font-size: 20px;
    width: 30% ;
    background-color: white;

}

@media only screen and (max-width: 800px){
    .category {
        width: 90% ;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 15px;
    }
    #categories_list{
        display: grid !important;
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 500px){
    .category {
        width: 90% ;
        margin-bottom: 15px;
    }
    #categories_list{
        display: grid !important;
        grid-template-columns: auto;
    }
}
.category_image{
    width: 100%;
    padding-top: 1vw;
    background-color: white;
}
.html_a_cover{
    margin-top: 2vw;
}
.html_a{
    color: rgba(0, 0, 0, 0.7) !important;
    text-decoration: none !important;
    padding-bottom: 1vw !important;
    border-bottom: solid 0.2px darkgrey;
    display: block;
}
.html_p_cover{
    margin-top: 1.2vw;
    padding-bottom: 2vw;
}
.html_p{
    font-size: medium;
}
.html_button{
    background-color: #281570 !important;
    color: white !important;
    font-size: medium !important;
}

.form_booking{
    border-left: solid 0.1px darkgrey;
    border-right: solid 0.1px darkgrey;
}
.button_book{
    background-color: darkred !important;
    color: white !important;
    height: 100% !important;
    font-size: 6vw;
}

.div_booking{
    background-color: #212529;
}
/* BOOKING HIDDEN */
.div_booking_hidden{
    display: none;
    background-color: #212529;
}
.button_book_hidden{
    background-color: darkred !important;
    color: white !important;

    width: 100% !important;
    font-size: 6vw;
}

/* BOOKING HIDDEN 2 */
.div_booking_hidden2{
    display: none;
    background-color: #212529;
}


/* BOOKING HIDDEN 3 */
.div_booking_hidden3{
    display: none;
    background-color: #212529;
}


@media only screen and (max-width: 960px){
    .div_booking{
        display: none;
    }
    .div_booking_hidden{
        display: block;
    }
}
@media only screen and (max-width: 760px){
    .div_booking{
        display: none;
    }
    .div_booking_hidden{
        display: none;
    }
    .div_booking_hidden2{
        display: block;
    }
}
@media only screen and (max-width: 410px){
    .div_booking{
        display: none;
    }
    .div_booking_hidden{
        display: none;
    }
    .div_booking_hidden2{
        display: none;
    }
    .div_booking_hidden3{
        display: block;
    }
}


