html, body {
    background-color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

.in_out{
    color: aliceblue;
    background-color: #212529;
    padding: 1vw;
    font-size: 1vw;
    display: flex;
}
#t_service{
    margin-left: 1vw;
    width: 88%;
}
#social_network{
    margin-left: 1vw;
}
#a_in_out{
    margin-right: 1vw;
}
#label_account_text{
    padding: 0.5vw;
    font-size: 1vw;
    display: block;
    text-align: center;
}
#account_control{
    margin: 0;
    font-size: 1vw;
    padding: 1vw;
    color: white;
    background-color: #212529;
    border-bottom: solid black 0.1vw;
}
#user_name{
    color: darkorange;
    font-weight: 600;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}
#user_status{
    color: green;
    font-size: 0.7vw;
    display: contents;
}

.header_hotel{
    background-color: #f8f9fa!important;;
}
#logo_page{
    width: 200px;
    height: auto;
    text-align: center;
}

